<!-- app/views/publications/_form.html.erb -->
<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
        <% publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :publishable_type, value: 'Post' %>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, Author.all, :id, :name, include_blank: true %>
  </div>

  <div class="fields">
    <%= form.fields_for :publishable do |publishable_form| %>
      <%= publishable_form.label :title %>
      <%= publishable_form.text_field :title %>

      <%= publishable_form.label :body %>
      <%= publishable_form.text_area :body %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

